<li class="bookmark">
  <a href="#" class="details">{{title}}</a>
  {{#images}}
    <img src="{{small}}" />
  {{/images}}
  <a href="#" title="cancel" class="action_link cancel_link delete_bookmark">Cancel</a>
</li>