<div id="header" class="wrapper header_frontpage">

  <ul class="nav">
    <li><a href="http://www.twitter.com/fourw4lls">Follow us</a></li>
    <li><a href="/about">About us</a></li>
    <li><a href="/">Home</a></li>
  </ul>

  <div class="page_intro">
    <h1 class="logo logo_big">
      <strong>Four Walls</strong>
      <em>Find your flat today. Simple, quick &amp; no commissions.</em>
    </h1>

    <h1>About us</h1>

    <div class="page_intro_desc">

      <p>We’re Team Upstream from Berlin, Germany.<br/>Two programmers and two designers.</p>

      <p>This is our <a href="http://nodeknockout.com">node knockout</a> project.</p>

      <p>All apartment search websites we know suck. This is our attempt to create one that is usable, beautiful and just works.</p>

      <p><a href="http://twitter.con/bionadeholunder">@bionadeholunder</a>, <a href="http://twitter.com/kriesse">@kriesse</a>, <a href="http://twitter.com/kunstreich">@kunstreich</a>, <a href="http://twitter.com/langalex">@langalex</a></p>
      
      
      <h2>Thank You</h2>
      <p>Thanks to <a href="http://twitter.com/felixge">@felixge</a> for <a href="http://transloadit.com">transloadit</a> and support, Gregor for snacks, <a href="http://twitter.com/janl">@janl</a> for coffee, club mate and food, <a href="http://co-up.de">co.up</a>/<a href="http://upstre.am">upstream</a> for the office, Katta for cake, <a href="http://twitter.com/alex_o">@alex_o</a> and <a href="http://twitter.com/klimpong">@klimpong</a> for being there, the <a href="http://nodeknockout.com/">node knockout</a> organizers, the driver of the car who did not crash into ours sunday morning at 3am, coma for <a href="http://soundcloud.com/comalounge/coma-live-panoramabar">music</a>, the <a href="http://couch.io">couch.io</a> and people <a href="http://github.com/rnewson">rnewson</a> for setting up and helping with <a href="http://github.com/rnewson/couchdb-lucene">couchdb-lucene</a> in the middle of the night, <a href="http://www.club-mate.de">Club Mate</a> for allowing us to stay awake for so long.</p>

      <p>We had a blast.</p>
    </div>
    
  </div>
</div

<div style="text-align: center; margin-bottom: 4em"><iframe src="http://player.vimeo.com/video/14506031?title=0&amp;byline=0&amp;portrait=0" width="720" height="405" frameborder="0"></iframe></div>

