<div id="header" class="wrapper header_frontpage">

  <ul class="nav">
    <li><a href="http://www.twitter.com/fourw4lls">Follow us</a></li>
    <li><a href="/about">About us</a></li>
    <li><a href="/">Home</a></li>
  </ul>

  <div class="page_intro">
    <h1 class="logo logo_big">
      <strong>Four Walls</strong>
      <em>Find your apartment today. Simple, quick &amp; no commissions.</em>
    </h1>

    <h1>About us</h1>

    <div class="page_intro_desc">

      <p>We’re Team Upstream from Berlin, Germany.</p>

      <p>This is our <a href="http://nodeknockout.com">node knockout</a> project.</p>

      <p>All apartment search websites we know suck. This is our attempt to create one that is usable, beautiful and just works.</p>

      <p><a href="http://twitter.con/bionadeholunder">@bionadeholunder</a>, <a href="http://twitter.com/kriesse">@kriesse</a>, <a href="http://twitter.com/kunstreich">@kunstreich</a>, <a href="http://twitter.com/langalex">@langalex</a></p>

    </div>
    
  </div>
</div

<div style="text-align: center"><iframe src="http://player.vimeo.com/video/14506031?title=0&amp;byline=0&amp;portrait=0" width="720" height="405" frameborder="0"></iframe></div>

