<div id="top_slider">
  <div class="wrapper">
    <div id="new_apartment">
      <div class="new_apartment_form_head">
        <a href="#" title="cancel" class="action_link cancel_link">Cancel</a>          
        <h2 class="close">New Apartment</h2>
        <p>You have an apartment or a room in a shared apartment to offer? Great! </p>  
      </div>
      
      <form action="http://api2.transloadit.com/assemblies" enctype="multipart/form-data" method="POST">
        <div class="form_wrapper">
          <ul id="errors"></ul>
          
          <p class="checkbox item inline_inputs title_inputs">
            <label for="apartment_title" class="hide">Title</label>
            <input type="text" name="apartment[title]" id="apartment_title" placeholder="Enter a title for your flat here, e.g. Nice, quiet single flat in Kreuzberg" />
            
            <input type="checkbox" name="apartment[shared_apartment]" id="apartment_shared_apartment" />
            <label for="apartment_shared_apartment">Shared Apartment</label>
          </p>
          <input type="hidden" id="transloadit_params" name="params" />
        
          <div class="item clearfix">
            <div class="third">
              <ul>

                <li>
                  <label for="apartment_street">Street</label>
                  <input type="text" name="apartment[street]" id="apartment_street" />
                </li>

                <li class="half half_input">
                  <label for="apartment_postcode">Postcode</label>
                  <input type="text" name="apartment[postcode]" id="apartment_postcode" />
                </li>

                <li class="half half_input last">
                  <label for="apartment_city">City</label>
                  <input type="text" disabled="disabled" name="apartment[city]" id="apartment_city" value="Berlin" />
                </li>
                
                <li>
                  <label for="apartment_description">Description</label>
                  <textarea name="apartment[description]" id="apartment_description"></textarea>
                </li>
                  
              </ul>
            </div>
        
            <div class="third">
              <ul>
                <li class="third third_input">
                  <label for="apartment_price">Price (&euro;)</label>
                  <input type="text" name="apartment[price]" id="apartment_price" />
                </li>

                <li class="third third_input">
                  <label for="apartment_size">Size (sqm)</label>
                  <input type="text" name="apartment[size]" id="apartment_size" />
                </li>
                
                <li class="third third_input last">
                  <label for="apartment_number_of_rooms">No. of Rooms</label>
                  <input type="text" name="apartment[number_of_rooms]" id="apartment_number_of_rooms" />
                </li>

                <li>
                  <label for="apartment_availability">Date of Availability</label>
                  <input type="text" name="apartment[availability]" id="apartment_availability" />
                </li>

                <li>
                  <label for="apartment_duration">Duration (e.g. four weeks, open-ended)</label>
                  <input type="text" name="apartment[duration]" id="apartment_duration" />
                </li>

              </ul>
            </div>
        
            <div class="third">
              <ul>
                <li>
                  <label for="apartment_email">Email</label>
                  <input type="text" name="apartment[email]" id="apartment_email" />
                </li>

                <li>
                  <label for="apartment_phone">Phone</label>
                  <input type="text" name="apartment[phone]" id="apartment_phone" />
                </li>

                <li>
                  <label for="apartment_photos">Photos</label>
                  <input type="file" multiple="multiple" name="apartment[photos]" value="Search" id="apartment_photos" />
                </li>
              </ul>
            </div>
          </div>
          
          <div class="item inline_inputs clearfix">
            <label for="apartment_tags">Tags</label>
            <input type="text" name="apartment[tags]" id="apartment_tags" class=""/>
            (separate with commas)
            <div id="tags_for_apartment"></div>
          </div>

        </div>


        <p class="btn_wrap">
          <a href="#" title="cancel" class="action_link cancel_link">Cancel</a>
          <input type="submit" value="Add apartment" class="btn" />
        </p>
        
      </form>
    </div>
  </div>
</div>

<div id="header" class="wrapper">

  <ul class="nav">
		<li>
			<a name="fb_share" type="icon_link" share_url="http://four.w4lls.com/" href="http://www.facebook.com/sharer.php">Share</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
		</li>
    <li><a href="http://www.twitter.com/fourw4lls">Follow us</a></li>
    <li><a href="/about">About us</a></li>
    <li><a href="#">Help! What is this?</a></li>

  </ul>

<!--
  <div id="help">
    <div class="page_intro">
      <h1 class="logo logo_big">
        <strong>Four Walls</strong>
        <em>Find your apartment today. Simple, quick &amp; no commissions.</em>
      </h1>

      <h1>About us</h1>

      <div class="page_intro_desc">

        <p>We’re Team Upstream from Berlin, Germany.</p>

        <p>This is our <a href="http://nodeknockout.com">node knockout</a> project.</p>

        <p>All apartment search websites we know suck. This is our attempt to create one that is usable, beautiful and just works.</p>

        <p><a href="http://twitter.con/bionadeholunder">@bionadeholunder</a>, <a href="http://twitter.com/kriesse">@kriesse</a>, <a href="http://twitter.com/kunstreich">@kunstreich</a>, <a href="http://twitter.com/langalex">@langalex</a></p>

      </div>

    </div>
  </div>
-->

  <h1 class="logo">
    <a href="/" title="Home">Four Walls</a>
  </h1>

  <p id="big_add_link"><a href="#">Add apartment</a></p>

	<form role="search" action="" id="searchform" method="get">
		<label for="s" accesskey="1">Search:</label>
		<input type="text" id="s" name="s" results="5" autosave="" value="Search in Berlin…"> 
		<input type="hidden" id="searchsubmit"> 
	</form>
</div>


<div id="map_container">
	<div id="filters" class="">
		<ul>
			<li class="flat_type item">
				<input type="checkbox" name="shared" class="shared" id="shared"/>
				<label for="shared">Shared Apartment</label>
				<input type="checkbox" name="entire" class="entire" id="entire"/>
				<label for="entire">Entire Apartment</label>
			</li>
			<li class="ui_slider item">
				<em class="small">&euro;</em><div id="price_range"></div><em class="big">&euro;</em>
				<label for="price_amount"></label>
				<div id="price_amount"></div>
			</li>
			<li class="ui_slider item">
				<em class="small">m&sup2;</em><div id="space_range"></div><em class="big">m&sup2;</em>
				<label for="space_amount"></label>
				<div id="space_amount"></div>
			</li>
			<li class="tag_search item">
					<em>Chosen Tags</em><input type="text" name="tags" id="tags" placeholder="tag1, tag2, …" />
				<div id="tags_for_search"></div>
			</li>
		</ul>
		<a href="" class="view_indicator slide_left_out"></a>
	</div>
	
	<div id="details_container"></div>
	<div id="map"></div>
</div>

<div id="bookmarks_container">
	<div id="bookmarks">
		<div class="container">
      <div class="slides"></div>
  	</div>
  	<a href="#" class="previous">previous</a>
  	<a href="#" class="next">next</a>
	</div>
</div>