<div id="header" class="wrapper header_frontpage">

  <ul class="nav">
  	<li><a href="#/apartments/new">add apartment</a></li>
  	<li><a href="http://www.twitter.com/fourw4lls">follow us</a></li>
  </ul>

  <div class="page_intro">
    <h1 class="logo logo_big">
      <strong>Four Walls</strong>
      <em>Find your flat today. Simple, quick &amp; no commissions.</em>
    </h1>

    <p class="page_intro_desc">
    	Please, be patient and <a href="http://www.twitter.com/fourw4lls">follow us</a> or <a href="#/apartments/new" class="big_btn">add an apartment</a>.
    </p>

  </div>

	<form role="search" action="" id="searchform" method="get">
		<label for="s" accesskey="1">Search:</label>
		<input type="search" onfocus="if (this.value == 'Search…')  
			{this.value = '';}" onblur="if (this.value == '')  {this.value = 'Search…';}" id="s" name="s" results="5" autosave="" value="Search…"> 
		<input type="hidden" id="searchsubmit"> 
	</form>
</div>


<div id="map_container">
	<div id="filters" class="">
		<ul>
			<li>
				<label for="wg"></label>
				<input class="ui-button" id="flat_type" type="checkbox" name="wg" value="">WG
				<label for="einzel"></label>
				<input type="checkbox" name="einzel" value="">Einzel
			</li>
			<li>
				<label for="price_amount">Price range:</label>
				<input type="text" id="price_amount" />
				<div id="price_range"></div>
			</li>
			<li>
				<label for="space_amount">space range:</label>
				<input type="text" id="space_amount" />
				<div id="space_range"></div>
			</li>
			<li>tags</li>
			<li>y</li>
			<li>z</li>
		</ul>
		<a class="view_indicator" href="">
		</a>
	</div>
	<div id="details_container" class="hidden">
		<div id="details_centering">
			<div id="details_rightflow">
				<div id="details">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
			</div>

		</div>
	</div>
	<div id="map"></div>
</div>

<div id="bookmarks">
	
</div>
