<h1>Four <em>Walls</em></h1>
<h2>
	Find your Flat today — simple. quick, no commissions
	<img src="img/logo.png" title="boha">
</h2>


<p>
	Please, be patient and <a href="http://www.twitter.com/fourw4lls">follow us</a>.
</p>
