<div id="top_slider">
  <div class="wrapper">
    <div id="new_apartment">
      <div class="new_apartment_form_head">
        <a href="#" title="cancel" class="cancel_link">Cancel</a>          
        <h2 class="close">New Flat</h2>
        <p>You have a flat or a room in a shared flat to offer? Great! </p>  
      </div>
      
      <form action="http://api2.transloadit.com/assemblies" enctype="multipart/form-data" method="POST">
        <div class="form_wrapper">
          <p class="checkbox">
            <input type="checkbox" name="apartment[shared_apartment]" id="apartment_shared_apartment" />
            <label for="apartment_shared_apartment">Shared Flat</label>
          </p>
          <input type="hidden" id="transloadit_params" name="params" />
        
          <div class="third">
            <ul>
              <li>
                <label for="apartment_title">Title</label>
                <input type="text" name="apartment[title]" id="apartment_title" />
              </li>

              <li>
                <label for="apartment_description">Description</label>
                <textarea name="apartment[description]" id="apartment_description"></textarea>
              </li>

              <li>
                <label for="apartment_street">Street</label>
                <input type="text" name="apartment[street]" id="apartment_street" />
              </li>

              <li>
                <label for="apartment_postcode">Postcode</label>
                <input type="text" name="apartment[postcode]" id="apartment_postcode" />
              </li>

              <li>
                <label for="apartment_city">City</label>
                <input type="text" disabled="disabled" name="apartment[city]" id="apartment_city" value="Berlin" />
              </li>
            </ul>
          </div>
        
          <div class="third">
            <ul>
              <li>
                <label for="apartment_price">Price</label>
                <input type="text" name="apartment[price]" id="apartment_price" />
              </li>

              <li>
                <label for="apartment_number_of_rooms">Number of Rooms</label>
                <input type="text" name="apartment[number_of_rooms]" id="apartment_number_of_rooms" />
              </li>

              <li>
                <label for="apartment_size">Size</label>
                <input type="text" name="apartment[size]" id="apartment_size" />
              </li>

              <li>
                <label for="apartment_availability">Date of Availability</label>
                <input type="text" name="apartment[availability]" id="apartment_availability" />
              </li>

              <li>
                <label for="apartment_duration">Duration</label>
                <input type="text" name="apartment[duration]" id="apartment_duration" />
              </li>

            </ul>
          </div>
        
          <div class="third">
            <ul>
              <li>
                <label for="apartment_email">Email</label>
                <input type="text" name="apartment[email]" id="apartment_email" />
              </li>

              <li>
                <label for="apartment_phone">Phone</label>
                <input type="text" name="apartment[phone]" id="apartment_phone" />
              </li>

              <li>
                <label for="apartment_photos">Photos</label>
                <input type="file" multiple="multiple" name="apartment[photos]" value="Search" id="apartment_photos" />
              </li>

              <li>
                <label for="apartment_tags">Tags</label>
                <input name="apartment[tags]" id="apartment_tags" class=""/>
                (separate with commas)
                <div id="tags_for_apartment"></div>
              </li>          
            </ul>
          </div>

        </div>

        <p class="btn_wrap">
          <a href="#" title="cancel" class="cancel_link">Cancel</a>          
          <input type="submit" value="Add apartment" class="btn" />
        </p>
        
      </form>
    </div>
  </div>
</div>

<div id="header" class="wrapper">

  <ul class="nav">
    <li><a href="http://www.twitter.com/fourw4lls">Follow us</a></li>
    <li><a href="/about">About us</a></li>
  </ul>

  <h1 class="logo">
    <a href="/" title="Home">Four Walls</a>
  </h1>

  <p id="big_add_link"><a href="#">Add flat</a></p>

	<form role="search" action="" id="searchform" method="get">
		<label for="s" accesskey="1">Search:</label>
		<input type="search" id="s" name="s" results="5" autosave="" value="Search flat"> 
		<input type="hidden" id="searchsubmit"> 
	</form>
</div>


<div id="map_container">
	<div id="filters" class="">
		<ul>
			<li class="flat_type item">
				<input type="checkbox" name="shared" class="reload_apartments shared" id="shared" />
				<label for="shared">Shared Flat</label>
				<input type="checkbox" name="entire" class="reload_apartments entire" id="entire" />
				<label for="entire">Entire Flat</label>
			</li>
			<li class="ui_slider item">
				<em class="small">&euro;</em><div id="price_range"></div><em class="big">&euro;</em>
				<label for="price_amount"></label>
				<input type="text" id="price_amount" class="reload_apartments" />
			</li>
			<li class="ui_slider item">
				<em class="small">m&sup2;</em><div id="space_range"></div><em class="big">m&sup2;</em>
				<label for="space_amount"></label>
				<input type="text" id="space_amount" class="reload_apartments" />
			</li>
			<li class="tag_search item">
					<em>Chosen Tags</em><input type="text" name="tags" id="tags" class="reload_apartments"/>
					(separate with commas)
				<div id="tags_for_search"></div>
			</li>
		</ul>
		<a href="" class="view_indicator"></a>
	</div>
	
	<div id="details_container"></div>
	<div id="map"></div>
</div>

<div id="bookmarks_container">
	<div id="bookmarks">
		<ul>
			<li>item 1</li>
    </ul>
	</div>
</div>