<div id="header" class="wrapper">

  <ul class="nav">
    <li><a href="#/apartments/new">Add apartment</a></li>
    <li><a href="http://www.twitter.com/fourw4lls">Follow us</a></li>
    <li><a href="/about">About us</a></li>
  </ul>

  <h1 class="logo">
    <a href="/" title="Home">Four Walls</a>
  </h1>

	<form role="search" action="" id="searchform" method="get">
		<label for="s" accesskey="1">Search:</label>
		<input type="search" onfocus="if (this.value == 'Search…')  
			{this.value = '';}" onblur="if (this.value == '')  {this.value = 'Search…';}" id="s" name="s" results="5" autosave="" value="Search…"> 
		<input type="hidden" id="searchsubmit"> 
	</form>
</div>


<div id="map_container">
	<div id="filters">
		<ul>
			<li class="flat_type item">
				<input type="checkbox" name="shared" class="reload_apartments shared" />
				<label for="shared">Shared Apartment</label>
				<input type="checkbox" name="entire" class="reload_apartments entire" />
				<label for="entire">Entire Apartment</label>
			</li>
			<li class="ui_slider item">
				<em class="small">&euro;</em><div id="price_range"></div><em class="big">&euro;</em>
				<label for="price_amount"></label>
				<input type="text" id="price_amount" class="reload_apartments" />
			</li>
			<li class="ui_slider item">
				<em class="small">m&sup2;</em><div id="space_range"></div><em class="big">m&sup2;</em>
				<label for="space_amount"></label>
				<input type="text" id="space_amount" class="reload_apartments" />
			</li>
			<li class="tag_search item">
			  <label for="tags">Tags:</label>
			  <textarea name="tags" id="tags" class="reload_apartments"></textarea>
			</li>
		</ul>
		<a href="" class="view_indicator"></a>
	</div>
	
	<div id="details_container" class="hidden">
		<div id="details_centering">
			<div id="details_rightflow">
				<div id="details">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
			</div>

		</div>
	</div>
	<div id="map"></div>
</div>

<div id="bookmarks">
	
</div>
