<html>
  <head>
    <title>four.w4lls</title>
    <script type="text/javascript" charset="utf-8">
      w4lls = {};
      w4lls.host = '<%= host %>';
    </script>

		<script type="text/javascript" charset="utf-8" src="http://use.typekit.com/wif6msx.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" charset="utf-8" src="/js/underscore.js"></script>
		<!-- caching -->
	  <script type="text/javascript" charset="utf-8" src="/js/jquery.js"></script>
	  <script type="text/javascript" charset="utf-8" src="/js/sammy.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/sammy.mustache.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/app.js"></script>
		<!-- caching -->
	  <script type="text/javascript" charset="utf-8" src="/js/jquery.ui.js"></script>
	  <script type="text/javascript" charset="utf-8" src="/js/jquery.form.js"></script>
		<script type="text/javascript" charset="utf-8" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" charset="utf-8" src="/js/map.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://assets.transloadit.com/js/jquery.transloadit2.js"></script>
		<link rel="stylesheet" href="/css/style.css" type="text/css" title="base stylesheet" charset="utf-8">
  </head>
  <body>
    <div id="wrapper">
			
      <%- body %>

			<div class="push"></div>
    </div>
    
    <div id="footer" class="container prepend-top append-bottom">
      &copy; <%= new Date().getFullYear() %> Team <a href="http://upstre.am">upstream</a> at node knockout
      <a href="http://nodeknockout.com/teams/upstream" target="nko" title="Help me win Node.js KO!">
        <img style="position: fixed; top: 5px; right: 5px; border: 0px;" src="http://nodeknockout.com/images/voteko.png" alt="Help me win Node.js KO!" />
      </a>
      <br/>
      <a href="/about">About us</a>
      
      <br/>
      <a href="http://transloadit.com/?from=badge">
      <img src="http://assets.transloadit.com/img/badge.png" alt="File uploading &amp; processing by Transloadit"/></a>
    </div>
  </body>
</html>