<html>
  <head>
    <title>four.w4lls</title>
    <script type="text/javascript" charset="utf-8">
      w4lls = {};
    </script>
		<script type="text/javascript" charset="utf-8" src="http://use.typekit.com/wif6msx.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/underscore.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/sammy.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/sammy.mustache.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/app.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>		
		
		<script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= google_maps_key %>&sensor=false"></script>
    <script type="text/javascript" charset="utf-8" src="/js/map.js"></script>
		
		<style>
  		html, body {
  			height: 100%; 
  		}
  		body { 
  			margin:0;
  			background: url(img/bg.gif) repeat;
  			font-family: "myriad pro",myriad,"myriad-pro-1","myriad-pro-2","helvetica neue",helvetica,arial,sans-serif;
			}
			#wrapper {
				width: 800px;
				min-height: 100%;
				height: auto !important;
				height: 100%;
				margin: 0 auto -48px;
			}
			#footer,.push {
				height: 48px;
				font-size: 11px;
				color: #999;;
			}
			h1 {
				font: 200 normal 144px/1 "myriad-pro-condensed-1","myriad-pro-condensed-2","myriad pro",myriad,"myriad-pro-1","myriad-pro-2","helvetica neue",helvetica,arial,sans-serif;
				color: #fff;
				text-transform: uppercase ;
				text-shadow: 1px 2px 4px #666;
				border-bottom:1px solid #fff;
				padding-top: 100px;
			}
			h1 em {
				font-weight: 600;
				font-style: normal;
			}
			h2 {
				border-top: 1px solid #E0DFDF;
				padding-top: 1em;
				padding-bottom: 1.5em;
				color: #0C608D;
				text-shadow: 1px 2px 1px #fff;
				font-style: italic;
			}
			h1,h2,p,#footer {
				text-align: center;
				margin:0;
			}
			a {
				color: #0C608D;
			}
			p {
				color: #777;
				font-weight: 200;
				padding-top: 4em;
			}
			img {
				margin-top: 24px;
				width: 273px;
			}
		</style>
  </head>
  <body>
    <div id="wrapper">
      <h1>four.w4lls</h1>
      
			<div class="push"></div>
      <%- body %>
    </div>
    
    <div id="footer" class="container prepend-top append-bottom">
      &copy; <%= new Date().getFullYear() %> Team <a href="http://upstre.am">upstream</a> at node knockout
      <a href="http://nodeknockout.com/teams/upstream" target="nko" title="Help me win Node.js KO!">
        <img style="position: fixed; top: 5px; right: 5px; border: 0px;" src="http://nodeknockout.com/images/voteko.png" alt="Help me win Node.js KO!" />
      </a>
    </div>
  </body>
</html>