<html>
  <head>
    <title>four.w4lls</title>
    <script type="text/javascript" charset="utf-8" src="/js/underscore.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/app.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= google_maps_key %>&sensor=false"></script>
    <script type="text/javascript" charset="utf-8" src="/js/map.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <%- body %>
    </div>
    
    <div id="footer" class="container prepend-top append-bottom">
      &copy; <%= new Date().getFullYear() %> Team <a href="http://upstre.am">upstream</a> at node knockout
      <a href="http://nodeknockout.com/teams/upstream" target="nko" title="Help me win Node.js KO!">
        <img style="position: fixed; top: 5px; right: 5px; border: 0px;" src="http://nodeknockout.com/images/voteko.png" alt="Help me win Node.js KO!" />
      </a>
      <a href="http://www.twitter.com/fourw4lls">
        <img src="http://twitter-badges.s3.amazonaws.com/follow_bird-b.png" style="position: fixed; top: 65px; right: 17px; border: 0px;" alt="Follow fourw4lls on Twitter"/>
      </a>
    </div>
  </body>
</html>