/* colors */
/*
#0095BC - blue
#D16A3C - orange-red
#4C3E4A - dark grey
#D0CFC5 - background beige
*/

html, body {
	height: 100%; 
}
body { 
	background: #D0CFC5 url(../img/w4lls_bg.png) repeat;
	color: #4C3E4A;
	text-shadow: 1px 1px 1px #FFF;
}
body,textarea,input {
  font-family: Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif;
}
.hide { display: none;}
#wrapper {
  min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -48px;
	overflow: hidden;
}
.wrapper {
	width: 950px;
	margin:0 auto;
}
#header {
  height: 56px;
  padding-top: 18px;
  position: relative;
}

#header.header_frontpage {
  height: auto;
}

.page_intro {
  margin: 4.5em auto 0 auto;
  padding-bottom: 3em;
  width: 50%;
  text-align: center;
}

.page_intro_desc {
  padding: 1em 2em;
  margin-bottom: 3em;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}

.nav {
  float: right;
  font-size: 11px;
  color: #777;
  font-style: italic;
}

.logo {
  width: 184px;
  margin: 0 0 0 0;
  padding: 0;
  border: 0;
  float: left;
}

.logo a {
  width: 184px;
  height: 43px;
  margin-bottom: 0;
  background: transparent url(../img/w4lls_logo_small.png) no-repeat 0 0;
  text-indent: -9999px;
  display: block; 
}

/* links */

a, 
a:link, 
a:visited {
  color: #0095BC;
  text-decoration: none;
}

a:hover, 
a:active, 
a:focus {
  color: #0095BC;
  text-decoration: underline;
}

.logo a:focus, .logo a:hover, .logo a:active {
  outline: none;
}

.logo_big {
  width: 100%;
  height: 256px;
  background: transparent url(../img/w4lls_logo_big.png) no-repeat 50% 0;
  display: block;
  float: none;
  margin: 0 auto 4.5em auto;
}

.logo_big strong {
  display: block;
  text-indent: -9999px;
}

.logo_big em {
  font-family: Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-style: italic;
  font-size: 1.5em;
  display: block;
  margin-top: 3em;
}

.nav li {
  float:left;
  border-right: 1px solid #fff;
  border-left: 1px solid #E0DFDF;
  list-style:none;
}
.nav li:first-child {
  border-left:0;
}
.nav li:last-child {
  border-right:0;
}
.nav a {
  padding: 3px 10px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-transition: background-color color 0.5s ease-in;
  -webkit-transition: background-color color 0.5s ease-in;
  -o-transition: background-color color 0.5s ease-in;
  transition: background-color color 0.5s ease-in;
}
.nav a:hover {
  background-color:#0095BC;
  color:#fff;
  padding: 3px 7px;
  margin: 0 3px;
}
#searchform {
  position: absolute;
  z-index: 99;
  bottom: -16px;
  left: 345px;
}
#s {
  -moz-border-radius: 12px 12px 12px 12px;
  -moz-box-shadow: 1px 3px 3px #999;
  box-shadow: 1px 3px 3px #999;
  -o-border-radius: 12px 12px 12px 12px;
  -o-box-shadow: 1px 3px 3px #999;
  border-radius: 12px 12px 12px 12px;
  border: 1px solid #E0DFDF;
  color: #999999;
  font-size: 11px;
  height: 24px;
  margin: 0;
  padding: 0 8px;
  width: 260px;
  background: #fff url(../img/google.png) no-repeat 180px 5px;
}
#s:input {
  background:none;
}
label[for="s"] { 
  display:none; 
}
#map_container {
  background: #fff url(../img/map_top.png) repeat-x;
  padding-top: 11px;
  position: relative;
  z-index:0;
}
#map {
  width: 100%; 
}
#filters,#details_container {
  position: absolute;
  z-index: 99;
  margin-top: 50px;
}
#filters {
  width: 300px;
  left: -3px;
  -moz-box-shadow: 1px 3px 3px #999;
  -webkit-box-shadow: 1px 3px 3px #999;
  -o-box-shadow: 1px 3px 3px #999;
  box-shadow: 1px 3px 3px #999;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -o-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -o-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 2px solid #fff;
}
#filters.hidden {
  left: -275px;
}
#details_container {
  width: 100%;
  position: absolute;
}
#details_container.hidden {
  display: none;
}
#details_centering {
  width: 950px;
  margin:0 auto;
}
#details_rightflow {
  width: 1000%;
  position:absolute;
  z-index:0;
  -moz-box-shadow: 1px 3px 3px #999;
  -webkit-box-shadow: 1px 3px 3px #999;
  -o-box-shadow: 1px 3px 3px #999;
  box-shadow: 1px 3px 3px #999;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -o-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -o-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #D0CFC5 url(../img/w4lls_bg.png) repeat;
  border: 2px solid #fff;
  overflow: visible;
  height: 370px;
}
#details {
  width:902px;
  padding: 24px;
}
#filters ul {
  float: left;
  width: 272px;
  border-right: 1px solid #E0DFDF;
}
#filters .view_indicator {
  width: 26px;
  float: left;
  background: rgba(0,0,0,0.5);
  height: 370px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -o-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -o-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: 1px solid #fff;
  position: relative;
}
#filters .view_indicator:after {
  content:"";
  position: absolute;
  top:45%;
  right:0;
  border-top: 20px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 20px solid transparent;
}
#filters.hidden .view_indicator:after {
  content:"";
  position: absolute;
  top:45%;
  left:0;
  border-top: 20px solid transparent;
  border-left: 14px solid transparent;
  border-bottom: 20px solid transparent;
}
#filters .view_indicator:hover {
  cursor: w-resize;
}
#filters.hidden .view_indicator:hover {
  cursor: e-resize;
}
#filters .view_indicator:hover:after {
  border-right: 14px solid #fff;
  border-left-color: transparent;
}
#filters.hidden .view_indicator:hover:after {
  border-left: 14px solid #fff;
  border-right-color: transparent;
}
#filters li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #E0DFDF;
  padding: 6px 6px;
  height: 48px;
  background: #D0CFC5 url(../img/w4lls_bg.png) repeat;
  overflow: hidden;
}
#filters li:first-child {
  border-top:none;
}
#filters li:last-child {
  border-bottom:none;
}
#bookmarks {
  padding-top: 11px;
  min-height: 60px;
  background: url(../img/map_bottom.png) repeat-x;
  
}
#footer,.push {
	height: 48px;
	font-size: 11px;
	color: #999;;
	margin-top: 48px;
}
