html, body {
	height: 100%; 
}
body { 
	background: url(../img/bg.gif) repeat;
}
body,textarea,input {
  font-family: "myriad pro",myriad,"myriad-pro-1","myriad-pro-2","helvetica neue",helvetica,arial,sans-serif;
}
.hide { display: none;}
#wrapper {
  min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -48px;
	overflow: hidden;
}
.wrapper {
	width: 950px;
	margin:0 auto;
}
#header {
  height: 56px;
  padding-top: 24px;
  position: relative;
}
.nav {
  float: right;
  font-size: 11px;
  color: #777;
  font-style: italic;
}
.nav li {
  float:left;
  border-right: 1px solid #fff;
  border-left: 1px solid #E0DFDF;
  list-style:none;
}
.nav li:first-child {
  border-left:0;
}
.nav li:last-child {
  border-right:0;
}
.nav a {
  padding: 3px 10px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-transition: background-color color 0.5s ease-in;
  -webkit-transition: background-color color 0.5s ease-in;
  -o-transition: background-color color 0.5s ease-in;
  transition: background-color color 0.5s ease-in;
}
.nav a:hover {
  background-color:#0C608D;
  color:#fff;
  padding: 3px 7px;
  margin: 0 3px;
}
#searchform {
  position: absolute;
  z-index: 99;
  bottom: -16px;
  left: 345px;
}
#s {
  -moz-border-radius: 12px 12px 12px 12px;
  -moz-box-shadow: 1px 3px 3px #999;
  box-shadow: 1px 3px 3px #999;
  -o-border-radius: 12px 12px 12px 12px;
  -o-box-shadow: 1px 3px 3px #999;
  border-radius: 12px 12px 12px 12px;
  border: 1px solid #E0DFDF;
  color: #999999;
  font-size: 11px;
  height: 24px;
  margin: 0;
  padding: 0 8px;
  width: 260px;
  background: #fff url(../img/google.png) no-repeat 180px 5px;
}
#s:input {
  background:none;
}
label[for$="s"] { 
  display:none; 
}
#map_container {
  background: #fff url(../img/map_top.png) repeat-x;
  padding-top: 11px;
  position: relative;
  z-index:0;
}
#map {
  width: 100%; 
  height: 500px;
}
#filters,#details_container {
  position: absolute;
  z-index: 99;
  margin-top: 50px;
}
#filters {
  width: 300px;
  left: -3px;
  -moz-box-shadow: 1px 3px 3px #999;
  -webkit-box-shadow: 1px 3px 3px #999;
  -o-box-shadow: 1px 3px 3px #999;
  box-shadow: 1px 3px 3px #999;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -o-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -o-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 2px solid #fff;
}
#filters.hidden {
  left: -275px;
}
#details_container {
  width: 100%;
  position: absolute;
}
#details_centering {
  width: 950px;
  margin:0 auto;
}
#details_rightflow {
  width: 1000%;
  position:absolute;
  z-index:0;
  -moz-box-shadow: 1px 3px 3px #999;
  -webkit-box-shadow: 1px 3px 3px #999;
  -o-box-shadow: 1px 3px 3px #999;
  box-shadow: 1px 3px 3px #999;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -o-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -o-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #f1f1f1 url(../img/bg.gif) repeat;
  border: 2px solid #fff;
  overflow: visible;
  height: 370px;
}
#details {
  width:902px;
  padding: 24px;
}
#filters ul {
  float: left;
  width: 272px;
  border-right: 1px solid #E0DFDF;
}
#filters .view_indicator {
  width: 26px;
  float: left;
  background: rgba(0,0,0,0.5);
  height: 370px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -o-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -o-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: 1px solid #fff;
  position: relative;
}
#filters .view_indicator:after {
  content:"";
  position: absolute;
  top:45%;
  right:0;
  border-top: 20px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 20px solid transparent;
}
#filters.hidden .view_indicator:after {
  content:"";
  position: absolute;
  top:45%;
  left:0;
  border-top: 20px solid transparent;
  border-left: 14px solid transparent;
  border-bottom: 20px solid transparent;
}
#filters .view_indicator:hover {
  cursor: w-resize;
}
#filters.hidden .view_indicator:hover {
  cursor: e-resize;
}
#filters .view_indicator:hover:after {
  border-right: 14px solid #fff;
  border-left-color: transparent;
}
#filters.hidden .view_indicator:hover:after {
  border-left: 14px solid #fff;
  border-right-color: transparent;
}
#filters li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #E0DFDF;
  padding: 6px 6px;
  height: 48px;
  background: #f1f1f1 url(../img/bg.gif) repeat;
  overflow: hidden;
}
#filters li:first-child {
  border-top:none;
}
#filters li:last-child {
  border-bottom:none;
}
#bookmarks {
  padding-top: 11px;
  min-height: 60px;
  background: url(../img/map_bottom.png) repeat-x;
  
}
#footer,.push {
	height: 48px;
	font-size: 11px;
	color: #999;;
	margin-top: 48px;
}
