.jcarousel-skin-bookmarks .jcarousel-container {
}

.jcarousel-skin-bookmarks .jcarousel-container-horizontal {
    width: 950px;
    margin: 0 auto;
    padding: 0;
}


.jcarousel-skin-bookmarks .jcarousel-clip-horizontal {
    width:  950px;
    height: 100px;
}

.jcarousel-skin-bookmarks .jcarousel-direction-rtl .jcarousel-item-horizontal {
  margin-left: 10px;
  margin-right: 0;
}

.jcarousel-skin-bookmarks .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-bookmarks .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-bookmarks .jcarousel-next-horizontal,
.jcarousel-skin-bookmarks .jcarousel-prev-horizontal {
    position: absolute;
    top: -2px;
    width: 26px;
    
    height: 100px;
    cursor: pointer;
    background-image: url(../img/w4lls_icons_arrows.png), url(../img/w4lls_bg_stripes.png);
    background-repeat: no-repeat, repeat;
    background-position: -59px 50%, 0 0;
    background-color: transparent;
    cursor: pointer;
    text-indent: -9999px;
    border: 2px solid #FFF;
} 
 
 
.jcarousel-skin-bookmarks .jcarousel-next-horizontal {
    right: -28px;
    border-left: none;
}

.jcarousel-skin-bookmarks .jcarousel-prev-horizontal {
    left: -28px;
    background-position: 7px 50%, 0 0;
    border-right: none;
}


.jcarousel-skin-bookmarks .jcarousel-next-horizontal:active,
.jcarousel-skin-bookmarks .jcarousel-next-horizontal:hover {
    background-position: -296px 50%, 0 0;
    
}


.jcarousel-skin-bookmarks .jcarousel-next-disabled-horizontal,
.jcarousel-skin-bookmarks .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-bookmarks .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -175px 50%, 0 0;
}

.jcarousel-skin-bookmarks .jcarousel-prev-horizontal:active,
.jcarousel-skin-bookmarks .jcarousel-prev-horizontal:hover {
  background-position: -232px 50%, 0 0;
}


.jcarousel-skin-bookmarks .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-bookmarks .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-bookmarks .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -110px 50%, 0 0;
}