<div id="details_centering">
	<div id="details_rightflow">
		<div id="details">
      <p>
        {{title}}<br />
        {{description}}
      </p>

      <p>
        {{street}}<br />
        {{postcode}} {{city}}, {{country}}
      </p>

      <p>
        Price: {{price}} <br />
        Number of Rooms: {{number_of_rooms}} <br />
        Size: {{size}} <br />
        Date of Availability: {{date_of_availability}} <br />
        Duration: {{duration}}
      </p>

      <p>
        {{#images}}
          <img src="{{middle}}" />
        {{/images}}
      </p>

      <p>
        <a href="#" class="send_request">Send request</a>
      </p>
    </div>
	</div>
</div>