<div id="details_centering">
	<div id="details_rightflow">
		<div id="details">
			<a href="" class="view_indicator slide_right_out"></a>
		
			<div class="left_column">
        {{#images}}
          <img src="{{middle}}" />
        {{/images}}
				
				<a href="" title="cancel" class="action_link cancel_link textlink left">Cancel!</a>
				
				<a href="" title="Bookmark apartment" class="check_link action_link textlink right">Bookmark!</a>
				
				<ul>
					<li class="item">
						Price: {{price}}
					</li> 
					<li class="item">
						Number of Rooms: {{number_of_rooms}}
					</li>
					<li class="item">
						Date of Availability: {{date_of_availability}} 
					</li>
					<li class="item">
						Size: {{size}}
					</li>
					<li class="item">
						Duration: {{duration}}
					</li>
				</ul>

				<address>
	        {{street}}<br />
	        {{postcode}} {{city}}, {{country}}
	      </address>
      </div>
			
			<div class="right_column">
	      <h2>
	        {{title}}
        
	      </h2>
			
				<p>
					{{description}}
				</p>
			</div>


    </div>
    
    <div id="contact_request" style="display: none;">
      {{#has_phone}}
        <p>Phone: {{phone}}</p>
      {{/has_phone}}
      
      {{#has_email}}
        <form method="POST" action="/messages">
          <input type="hidden" name="apartment_id" value="{{_id}}" />
          <p>
            <label for="message">Message</label>
            <textarea name="message" id="message"></textarea>
          </p>
        
          <p>
            <input type="submit" value="Send request" />
          </p>
        </form>
      {{/has_email}}
      
      <p>
        <a href="#" class="close_request">Close request</a>
      </p>
    </div>
	</div>
</div>