<div id="new_apartment">
  <h2>New Apartment</h2>

  <form method="POST" action="#/apartments">
    <p>
      <label for="apartment_title">Title</label>
      <input type="text" name="apartment[title]" id="apartment_title" />
    </p>
    
    <p>
      <label for="apartment_description">Description</label>
      <textarea name="apartment[description]" id="apartment_description"></textarea>
    </p>
    
    <p>
      <label for="apartment_street">Street</label>
      <input type="text" name="apartment[street]" id="apartment_street" />
    </p>
    
    <p>
      <label for="apartment_postcode">Postcode</label>
      <input type="text" name="apartment[postcode]" id="apartment_postcode" />
    </p>
    
    <p>
      <label for="apartment_city">City</label>
      <input type="text" disabled="disabled" name="apartment[city]" id="apartment_city" value="Berlin" />
    </p>
    
    <p>
      <label for="apartment_number_of_rooms">Number of Rooms</label>
      <input type="text" name="apartment[number_of_rooms]" id="apartment_number_of_rooms" />
    </p>
    
    <p>
      <label for="apartment_size">Size</label>
      <input type="text" name="apartment[size]" id="apartment_size" />
    </p>
    
    <p>
      <label for="apartment_availability">Date of Availability</label>
      <input type="text" name="apartment[availability]" id="apartment_availability" />
    </p>
    
    <p>
      <label for="apartment_duration">Duration</label>
      <input type="text" name="apartment[duration]" id="apartment_duration" />
    </p>
    
    <p>
      <input type="checkbox" name="apartment[shared_apartment]" id="apartment_shared_apartment" />
      <label for="apartment_shared_apartment">Shared Apartment</label>
    </p>
    
    <p>
      <label for="apartment_email">Email</label>
      <input type="text" name="apartment[email]" id="apartment_email" />
    </p>
    
    <p>
      <label for="apartment_phone">Phone</label>
      <input type="text" name="apartment[phone]" id="apartment_phone" />
    </p>
    
    <p>
      <input type="submit" value="add apartment" />
    </p>
  </form>  
</div>