<div id="apartment">
  <p>
    {{title}}<br />
    {{description}}
  </p>
  
  <p>
    {{street}}<br />
    {{postcode}} {{city}}, {{country}}
  </p>
  
  <p>
    Number of Rooms: {{number_of_rooms}}<br />
    Size: {{size}} <br />
    Date of Availability: {{date_of_availability}} <br />
    Duration: {{duration}}
  </p>
</div>