<div id="apartment">
  <p>
    {{title}}<br />
    {{description}}
  </p>
  
  <p>
    {{street}}<br />
    {{postcode}} {{city}}, {{country}}
  </p>
  
  <p>
    Price: {{price}} <br />
    Number of Rooms: {{number_of_rooms}} <br />
    Size: {{size}} <br />
  </p>
  
  <p>
    {{#images}}
      <img src="{{small}}" />
    {{/images}}
  </p>
  
  <p>
    <a href="#" class="remember_this">Remember this</a>
    <a href="#" class="show_details">Show details</a>
  </p>
</div>